<div class="container">
    <div class="sidebar">
        <div class="perfil">
            <div class="imagem-perfil">
                <img src="../../../assets/images/perfil.png" alt="">
                <h1 id="nome">{{ nomeAtleta }}</h1>
            </div>
            <div class="reputacao">
                <img src="../../../assets/images/Star.svg" alt="">
                <img src="../../../assets/images/Star.svg" alt="">
                <img src="../../../assets/images/Star.svg" alt="">
                <img src="../../../assets/images/Star.svg" alt="">
                <img src="../../../assets/images/Star.svg" alt="">
            </div>
        </div>

        <div class="links">
            <div class="corpo">
                <img src="../../../assets/images/inicioicon.svg" alt="" class="icon">
                <li ><a [routerLink]="['/Inicio']" class="link">Inicio</a></li>
            </div>
            <div class="corpo">
                <img src="../../../assets/images/criaricon.svg" alt=""  class="icon">
                <li ><a [routerLink]="['/Criarpartida']" class="link">Criar Partidas</a></li>
            </div>
            <div class="corpo">
                <img src="../../../assets/images/lupaicon.svg" alt=""  class="icon">
                <li ><a [routerLink]="['/Buscarpartida']" class="link">Buscar Partidas</a></li>
            </div>
            <div class="corpo">
                <img src="../../../assets/images/gerenciaricon.svg" alt=""  class="icon">
                <li ><a href="" class="link">Gerenciar Partidas</a></li>
            </div>
            <div class="corpo">
                <img src="../../../assets/images/vizualizaricon.svg" alt=""  class="icon">
                <li ><a [routerLink]="['/Vizualizarpartida']" class="link">Vizualizar Partidas</a></li>
            </div>
        </div>

        <div class="opcoes">
           <img src="../../../assets/images/engicon.svg" alt="">
        </div>
    </div>
</div>
