<app-navbar></app-navbar>
<div class="containner">
    <div class="principal">
        <div class="imagens">
            <img src="../../../assets/images/loginVolei.png" alt="" class="imagem">
            <img src="../../../assets/images/loginFutebol.png" alt="" class="imagem" id="futebol">
        </div>

        <div class="formulario">
            <h1>Login</h1>
            <hr>
            <form action="">
                <Label for="">E-mail</Label>
                <input type="email">
                <Label for="">Senha</Label>
                <input type="password" name="" id="">
                <div class="botao">
                    <button type="submit">Entrar</button> 
                </div>
                
            </form>
            <div class="links">
                <a [routerLink]="['/Cadastraratleta']" class="link">REGISTRAR-SE</a>
                <a href="" class="link">ESQUECEU A SENHA?</a>
            </div>

        </div>
    </div>
</div>