<div class="containner">
    <div class="principal">
        <div class="imagens">
            <img src="../../../assets/images/loginVolei.png" alt="volei" class="imagem" >
            <img src="../../../assets/images/loginFutebol.png" alt="futebol" class="imagem" id="futebol">
        </div>

        <div class="formulario">
            <div class="logo">
                <img src="../../../assets/images/LOGO_MENOR.png" alt="logo" id="logo">
            </div>

            <h1>Login</h1>
            <hr>
            <form [formGroup]="loginForm">
                <Label for="email">E-mail</Label>
                <input type="email" id="email" formControlName="email">
                <span *ngIf="loginForm.get('email')?.errors?.['required'] && loginForm.get('email')?.touched">
                    Campo Obrigatorio
                </span>

                <Label for="senha">Senha</Label>
                <input type="password" id="senha" formControlName="senha">
                <span *ngIf="loginForm.get('senha')?.errors?.['required'] && loginForm.get('senha')?.touched">
                    Campo Obrigatorio
                </span>

                <div class="botao">
                    <button type="submit" (click)="logar()">Entrar</button> 
                </div>
                
            </form>
            <div class="links">
                <a [routerLink]="['/Cadastraratleta']" class="link">REGISTRAR-SE</a>
                <a  class="link">ESQUECEU A SENHA?</a>
            </div>

        </div>
    </div>
</div>