.principal{
    display: flex;
}

.imagens{
    display: flex;
    width: 60%;
}

.imagem{
    height: 100vh;
}

#futebol{
    width: 80vh;
    position: absolute;
    margin-left: 210px;
}

.formulario{
    background-color: var(--secundaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 25vw;

}

.formulario h1{
    text-transform: uppercase;
    color: var(--branco);
    font-size: 20px;
    text-align: center;
    margin: 10px 0px 0px;
}

hr{
    border-color:var(--detalhes);
    width: 80%; 
    margin-bottom: 15px;
   }

.formulario form{
    display: flex;
    flex-direction: column;
    
}

.formulario input, label{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
}

.formulario input{
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid var(--detalhes);
}

.formulario label{
    text-transform: uppercase;
    color: var(--branco);
}

.botao{
    align-items: center;
    text-align: center;
    margin: 20px 0 40px;
}

.botao button{
    width: 60%;
    padding: 10px 0px;
    background-color: var(--detalhes);
    color: var(--branco);
    border: none;
    cursor: pointer;
    align-items: center;
    text-align: center;

}

.botao button:hover {
    background-color: #ff6347;
}

.links{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 60px;
}

.link{
    color: var(--branco);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
.logo{
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

#logo{
    width: 15vw;
}

span{
    margin-left: 35px;
    color:red;
    font-size: 16px;
}

@media only screen and (max-width: 1440px) {
    .imagens{
        width: 50%;
       }

    .imagem{
        height: 95vh;
        width: 70%;
    }

    #futebol{
        width: 40%;
        height: 95vh;
        position: absolute;
        margin-left: 19vw;
    }
    
    .formulario{
        width: 25vw;
        margin: 6vw auto;
        border-radius: 10px;
    }
}


@media only screen and (max-width: 1024px) {
    .imagens{
        width: 50%;
       }

    .imagem{
        height: 93.6vh;
        width: 70%;
    }

    #futebol{
        width: 40%;
        height: 93.6vh;
        position: absolute;
        margin-left: 19vw;
    }
    
    .formulario{
        width: 30vw;
        margin: 10vw auto;
    }
}



@media only screen and (max-width: 768px) {
    .imagens{
        display: none;
       }
    
    .formulario{
        width: 50vw;
        margin-top: 20vh;
    }
}

@media only screen and (max-width: 480px) {
   .imagens{
    display: none;
   }

   .formulario{
    width: 70vw;
    margin-top: 4vw;
    border-radius: 10px;
   }
   .logo{
    width: 100%;
    }
    #logo{
        width: 90%;
        margin-left: 21px;
    }
    .formulario h1{
        text-transform: uppercase;
        color: var(--branco);
        font-size: 20px;
        text-align: center;
    }
}


