<div class="container-sidebar">
    <app-sidebar></app-sidebar>
    
    <div class="content">
     
        <h1 class="titulo">BUSCAR POR PARTIDAS</h1>
        <hr>

        <div class="filtros">
            <input type="search" id="pesquisa">

            <p>ESPORTE:</p>
            <select name="" id="" class="filtro" >
                <option value="" disabled>Escolha uma opção</option>
            </select>

            <p>KM:</p>
            <select name="" id="" class="filtro">
                <option value="" disabled>Escolha uma opção</option>
            </select>
        </div> 
        
        <div class="cards">
            <app-card-buscar-partida></app-card-buscar-partida>
            <app-card-buscar-partida></app-card-buscar-partida>
            <app-card-buscar-partida></app-card-buscar-partida>
            <app-card-buscar-partida></app-card-buscar-partida>
            <app-card-buscar-partida></app-card-buscar-partida>
            <app-card-buscar-partida></app-card-buscar-partida>

        </div>

    </div>

</div>

