<div class="container-sidebar">
    <app-sidebar></app-sidebar>
    
    <div class="content">
        <h1 class="titulo">Gerenciar Partida</h1>
        <div class="nav">
            <nav>
                <li class="link" [ngClass]="{'ativo': activeTab === 'editar'}" (click)="setActiveTab('editar')">Editar</li>
                <li class="link" [ngClass]="{'ativo': activeTab === 'times'}" (click)="setActiveTab('times')">Times</li>
                <li class="link" [ngClass]="{'ativo': activeTab === 'partidas'}" (click)="setActiveTab('partidas')">Partidas</li>
            </nav>
        </div>

        <div class="editar" *ngIf="activeTab === 'editar'">
            <div class="dados">
                <div class="informacoes">
                    <p class="info">Titulo: {{partida.titulo}}</p>
                    <p class="info">Data:{{ partida.data| date: 'dd/MM/yyyy' }}</p>
                    <p class="info">Horário Inicío:{{partida.horaInicio}}</p>
                    <p class="info">Horário fim:{{partida.horaFim}}</p>
                    <p class="info">Local: {{partida.nomeLocal}}</p>
                    <p class="info">Esporte:{{partida.esporte.nomeEsporte}}</p>
                </div>

                <div class="botoes">
                <a  class="botao">Editar Partida</a>
                <button type="submit" class="botao">Cancelar Partida</button>
                </div>
            </div>

            <div class="inscritos">
                <h2>Inscritos</h2>
                <div class="inscrito" *ngFor="let inscricao of inscricoes; let i = index">
                    <p>{{ i + 1 }} - {{ inscricao.atleta.nomeAtleta | uppercase }}</p>
                    <span>X</span>
                </div>
            </div>
        </div> 

        <div class="times"  *ngIf="activeTab === 'times'">
            <app-sorteio [inscricoes]="inscricoes"></app-sorteio>
        </div>

        <div class="partidas" *ngIf="activeTab === 'partidas'"> 
            <div class="cronometro">
              <app-cronometro></app-cronometro>
            </div>

            <div class="placar">
                <app-placar></app-placar>
            </div>

            <div class="times-partidas">
                <app-card-time></app-card-time>
                <app-card-time></app-card-time>
            </div>
        </div>

    </div>
</div>  