.sorteio{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-around;
}

.inscritos-sorteio{
    background-color: var(--secundaria);
    width: 45%;
}

.titulo-sorteio{
    text-align: center;
    margin-top: 20px;
    font-size: 1.3rem;
    color: var(--detalhes);
}

.lista-sorteio{
    display: flex;
    flex-direction: column;
    gap: 7px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.inscrito{
    color: var(--principal);
    font-size: 1.2rem;
}

.filtros{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.botoes-sorteio{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.botoes-sorteio label{
    font-size: 1.2rem;
}

.button-sorteio{
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    color: var(--principal);
    font-size: 1.2rem;
    background-color: var(--detalhes);
    padding: 15px;
}

.times{
    margin-top: 40px;  
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    gap: 2rem;
}