<div class="carousel">
    <div class="carousel-controls">
        <p (click)="prevSlide()" class="control"><</p>
    </div>
    <div class="carousel-container">
        <div class="carousel-slides">
            <div
                class="slide"
                *ngFor="let slide of visibleSlides; let i = index"
                [class.active]="i === 2">
                <!-- Exibe a inicial do nome do atleta dentro de um círculo -->
                <div class="circle">
                    {{ getInitial(slide.atleta.nomeAtleta) }}
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-controls">
        <p (click)="nextSlide()" class="control">></p>
    </div>
</div>
