<div class="container">
    <div class="card">
        <span>20 km</span>
        <div class="topo">
            <img src="../../../assets/images/{{imagem}}" alt="{{nomeEsporte}}">
            <h1 class="titulo">{{titulo}}</h1>
        </div>

        <div class="baixo">
            <p>Data: {{ data | date: 'dd/MM/yyyy' }}</p>
            <p>Horário: {{horario}}</p>
            <p>Local: {{local}}</p>

        </div>

        <div class="button">
            <button href="" class="button-modal" >SAIBA MAIS</button>
        </div>
    </div>
</div>