.cronometro{
    width: 100%;
}

#cronometro{
    font-size: 5rem;
    color: var(--detalhes);
}

hr{
    width: 100%;
    border-color:var(--secundaria);
    margin-bottom:20px;
}

.botoes-cronometro{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 30px;
}

.botoes-cronometro button{
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    background-color: var(--detalhes);
}
    

.botoes-cronometro button img{
    width: 15px;
}