<div class="container-sidebar">
    <app-sidebar></app-sidebar>
    <app-navbarprincipal></app-navbarprincipal>
    <div class="content">
        <h1 class="titulo">VIZUALIZAR PARTIDA</h1>
        <hr>
        <div class="card">
            <h2 class="nomePartida">{{partida.titulo}}</h2>
            <div class="carousel-container">
                <app-carousel></app-carousel>
                <hr id="divisoria">
                
                <div class="dados">
                    <div class="dado">
                        <p>DATA</p>
                        <p>{{partida.data | date: 'dd/MM/yyyy' }}</p>
                    </div>

                    <div class="dado">
                        <p>Local</p>
                        <p>{{partida.nomeLocal}}</p>
                    </div>

                    <div class="dado">
                        <p>ESPORTE</p>
                        <p>{{partida.esporte.nomeEsporte}}</p>
                    </div>
                </div>

                <div class="estatisticas">
                    <div class="info">
                        <h3 class="titulo-info">inscritos</h3>
                        <div class="inscritos">
                            <p class="inscrito" *ngFor="let inscricao of inscricoes; let i = index">{{ i + 1 }} - {{ inscricao.atleta.nomeAtleta | uppercase }}<p>
                        </div>
                    </div>
                    
                    <div class="info vencedor" *ngIf="times.length != 0">
                        <h3 class="titulo-info">time com mais vitorias</h3>
                    </div>

                    <div class="info classificacao" *ngIf="times.length != 0">
                        <h3 class="titulo-info">classificaco</h3>
                    </div>
                </div>

                <div class="botoes">
                    <a class="botao" [routerLink]="['/Vizualizarpartida']">voltar</a>
                    <button class="botao" (click)="abrirModal()">Cancelar inscrição</button>
                </div>

                
                <div class="modal" *ngIf="mostrarModal">
                    <div class="modal-dados">
                        <p>Deseja cancelar inscrição?</p>
                        <div class="buttons-cancelar">
                            <button class="button-cancelar" (click)="fecharModal()">Fechar</button>
                            <button class="button-cancelar" (click)="cancelarinscricao()">Cancelar</button>
                        </div>
                    </div>
                </div>

            </div>
         </div> 
    </div>
</div>