<div class="container-sidebar">
    <app-sidebar></app-sidebar>
    <app-navbarprincipal></app-navbarprincipal>
    
    <div class="content">
     
        <h1 class="titulo">MINHAS PARTIDAS</h1>
        <hr>
        
        <div class="cards" *ngIf="partidas != null" >
          <app-card-buscar-partida 
            *ngFor="let partida of partidas" 
            titulo="{{partida.titulo}}" 
            data="{{partida?.data}}" 
            horario="{{partida?.horaInicio}}" 
            local="{{partida?.nomeLocal}}"
            idEsporte="{{partida.esporte.idEsporte}}"
            idPartida="{{partida.idPartida}}"
            nomeEsporte="{{partida.esporte.nomeEsporte}}"
            cidade="{{partida.cidade}}">
          </app-card-buscar-partida>
          </div>
          <div *ngIf="partidas == null ||  partidas.length === 0 ">
            <h3>Não foram encontradas partidas. </h3>
          </div>

    </div>

</div>

