<div class="container">
    <div class="modal">

        <div class="topo">
            <h1 class="titulo">{{titulo}}</h1>
            <h2 class="descricao">{{descricao}}</h2>
        </div>


        <div class="centro">
            <img src="../../../assets/images/{{imagem}}" id="imagem" alt="">

            <div class="dados">
                <p>Data: {{ data | date: 'dd/MM/yyyy' }}</p>
                <p>Horário início: {{horaInicio}}</p>
                <p>Horário Fim: {{horaFim}}</p>
            </div>
        </div>

        <div class="baixo">
            <div class="dados-org">
                <p>5/20</p>
                <hr>
                <p>Organizador: {{organizador}}</p>
            </div>

            <div class="button">
                <button type="submit" (click)="onClose()" class="botao">Fechar</button>
                <button type="submit" (click)="inscrever()" class="botao">Inscrever-se</button>
            </div>

        </div>

    </div>
</div>
