<app-navbar></app-navbar>
<div class="container">
    <div class="formulario">
        <h1>Cadastrar</h1>
        <hr>
        <form [formGroup]="formCadastro">
            <label for="nome">Nome</label>
            <input type="text" id="nomeAtleta" placeholder="Nome" formControlName="nomeAtleta">
            <span *ngIf="formCadastro.get('Nome')?.errors?.['required'] && formCadastro.get('Nome')?.touched">
                Campo Obrigatorio
            </span>

            <label for="apelido">Apelido</label>
            <input type="text" id="apelido" placeholder="Apelido" formControlName="apelido">
            <span *ngIf="formCadastro.get('Apelido')?.errors?.['required'] && formCadastro.get('Apelido')?.touched">
            Campo Obrigatorio
            </span>

            <label for="data">Data de nascimento</label>
            <input type="date" id="dataNascimento" placeholder="Data de Nascimento" formControlName="dataNascimento">
            <span *ngIf="formCadastro.get('Data')?.errors?.['required'] && formCadastro.get('Data')?.touched">
                Campo Obrigatorio
            </span>

            <label for="email">E-mail</label>
            <input type="email" id="email" placeholder="E-mail" formControlName="email">
            <span *ngIf="formCadastro.get('Email')?.errors?.['required'] && formCadastro.get('Email')?.touched">
                Campo Obrigatorio
            </span>

            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" placeholder="Telefone" formControlName="telefone">
            <span *ngIf="formCadastro.get('Telefone')?.errors?.['required'] && formCadastro.get('Telefone')?.touched">
                Campo Obrigatorio
            </span>

            <label for="senha">Senha</label>
            <input type="password" id="senha" placeholder="Senha" formControlName="senha">
            <span *ngIf="formCadastro.get('Senha')?.errors?.['required'] && formCadastro.get('Senha')?.touched">
                Campo Obrigatorio
            </span>

            <label for="confirmaSenha">Confirmar Senha</label>
            <input type="password" id="confirmaSenha" placeholder="Confirmar Senha" formControlName="confirmaSenha">
            <span *ngIf="formCadastro.get('ConfirmaSenha')?.errors?.['required'] && formCadastro.get('ConfirmaSenha')?.touched">
                Campo Obrigatorio
            </span>
            <span *ngIf="formCadastro.hasError('senhasNaoConferem') && formCadastro.get('ConfirmaSenha')?.touched">
                As senhas não conferem.
            </span>

            <div class="botoes">
                <a [routerLink]="['']" class="botao voltar">Cancelar</a>
                <button type="submit" (click)="postar()" class="botao">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
