<div class="sorteio">
  <h2 class="titulo">
    Quantidade de jogadores inscritos: {{qtdejogadores}} </h2>
  <div class="filtros" *ngIf="timesCadastrados ===null ">

    <div class="qtde button-sorteio">
      <button (click)="decrementar()">-</button>
      <span>{{ jogadoresPorTime }}x{{ jogadoresPorTime }}</span>
      <button (click)="incrementar()">+</button>
    </div>

    <div>
      <button class=" button-sorteio" (click)="sortear()" >Sortear</button>
    </div>

    <div>
      <button class="button-sorteio" (click)="salvar()">Concluir</button>
    </div>
  </div>

  <div *ngIf=" timesCadastrados === null or timesGerados.length === 0">
    <h3 class="mensagem">Não há times cadastrados</h3>
  </div>

  <div class="times" *ngIf=" timesCadastrados === null">
    <app-card-time *ngFor="let time of timesGerados" [times]="[time]"></app-card-time>
  </div>

  
  <div *ngIf=" timesCadastrados != null" style="display: flex; flex-direction: column;">
    <h3 class="mensagem">Times Cadastrados</h3>
    <div class="times">
      <app-card-time *ngFor="let time of timesCadastrados" [times]="[time]"></app-card-time>
    </div>
  </div>
  

</div>
