<div class="container-sidebar">
    <app-sidebar></app-sidebar>
    <app-navbarprincipal></app-navbarprincipal>
    
    <div class="content">
        <p class="texto">Preencha os campos do formulário abaixo.</p>

        <div class="formulario">
            <h1 class="titulo">Criar Partida</h1>
            <hr>
            <form [formGroup]="formPartida">
                <div class="row">
                    <div class="col">
                        <label>Nome da Partida<span *ngIf="formPartida.get('titulo')?.errors?.['required'] && formPartida.get('titulo')?.touched">*</span></label>
                        <input type="text" formControlName="titulo">
                    </div>

                    <div class="col">
                        <label>Esporte <span *ngIf="formPartida.get('idEsporte')?.errors?.['required'] && formPartida.get('idEsporte')?.touched">*</span></label>
                        <select formControlName="idEsporte">
                            <option value="" disabled selected>Selecione um esporte</option>
                            <option *ngFor="let esporte of esporte" [value]="esporte.idEsporte">{{esporte.nomeEsporte}}</option>
                        </select>
                    </div>

                    <div class="col">
                        <label>Quantidade de atletas<span *ngIf="formPartida.get('qtdeAtletas')?.errors?.['required'] && formPartida.get('qtdeAtletas')?.touched">*</span></label>
                        <input type="number" formControlName="qtdeAtletas">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Data<span *ngIf="formPartida.get('data')?.errors?.['required'] && formPartida.get('data')?.touched">*</span></label>
                        <input type="date" formControlName="data">
                        <span *ngIf="formPartida.hasError('dataInvalida') && formPartida.get('data')?.touched">
                            Data invalida
                         </span>
                    </div>
                    
                    <div class="col">
                        <label>Horário de Início<span *ngIf="formPartida.get('horaInicio')?.errors?.['required'] && formPartida.get('horaInicio')?.touched">*</span></label>
                        <input type="time" formControlName="horaInicio">
                    </div>

                    <div class="col">
                        <label>Horário de Término<span *ngIf="formPartida.get('horaFim')?.errors?.['required'] && formPartida.get('horaFim')?.touched">*</span></label>
                        <input type="time" formControlName="horaFim">
                        <span *ngIf="formPartida.hasError('horarioInvalido') && formPartida.get('horaFim')?.touched">
                           Horário de termino invalido
                        </span>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label>Nome do Local<span *ngIf="formPartida.get('nomeLocal')?.errors?.['required'] && formPartida.get('nomeLocal')?.touched">*</span></label>
                        <input type="text" formControlName="nomeLocal">
                    </div>
                    
                    <div class="col">
                        <label>Endereço<span *ngIf="formPartida.get('endereco')?.errors?.['required'] && formPartida.get('endereco')?.touched">*</span></label>
                        <input type="text" formControlName="endereco">
                    </div>
                    <div class="col">
                        <label for="">Descrição<span *ngIf="formPartida.get('descricao')?.errors?.['required'] && formPartida.get('descricao')?.touched">*</span></label>
                        <textarea formControlName="descricao"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="regioes">Selecione uma Região Administrativa:<span *ngIf="formPartida.get('cidade')?.errors?.['required'] && formPartida.get('cidade')?.touched">*</span></label>
                        <select id="regioes" name="regioes " formControlName="cidade">
                            <option value="" disabled selected>Escolha uma opção</option>
                            <option value="aguas-claras">Águas Claras</option>
                            <option value="agua-quente">Água Quente</option>
                            <option value="arniqueira">Arniqueira</option>
                            <option value="braslandia">Brazlândia</option>
                            <option value="brasilia">Brasília</option>
                            <option value="candangolandia">Candangolândia</option>
                            <option value="ceilandia">Ceilândia</option>
                            <option value="cruzeiro">Cruzeiro</option>
                            <option value="fercal">Fercal</option>
                            <option value="gama">Gama</option>
                            <option value="guara">Guará</option>
                            <option value="itapoa">Itapoã</option>
                            <option value="jardim-botanico">Jardim Botânico</option>
                            <option value="lago-norte">Lago Norte</option>
                            <option value="lago-sul">Lago Sul</option>
                            <option value="nucleo-bandeirante">Núcleo Bandeirante</option>
                            <option value="paranoa">Paranoá</option>
                            <option value="park-way">Park Way</option>
                            <option value="planaltina">Planaltina</option>
                            <option value="por-do-sol">Pôr do Sol</option>
                            <option value="recanto-das-emas">Recanto das Emas</option>
                            <option value="riacho-fundo">Riacho Fundo</option>
                            <option value="riacho-fundo-ii">Riacho Fundo II</option>
                            <option value="samambaia">Samambaia</option>
                            <option value="santa-maria">Santa Maria</option>
                            <option value="sao-sebastiao">São Sebastião</option>
                            <option value="scia-estrutural">SCIA (Estrutural)</option>
                            <option value="sia">SIA</option>
                            <option value="sobradinho">Sobradinho</option>
                            <option value="sobradinho-ii">Sobradinho II</option>
                            <option value="sol-nascente">Sol Nascente</option>
                            <option value="sudoeste-octogonal">Sudoeste/Octogonal</option>
                            <option value="taguatinga">Taguatinga</option>
                            <option value="varjao">Varjão</option>
                        </select>
                    </div>
                </div>

                <div class="botoes">
                    <a [routerLink]="['/Inicio']" class="botao">Cancelar</a>
                    <button type="submit" (click)="postar()" class="botao">Cadastrar</button>
                </div>
            </form>
        </div>
        <span id="camposObrigatorios">Campos Obrigatórios *</span>
    </div>
</div>
