<div class="container-sidebar">
    <app-sidebar></app-sidebar>
    <app-navbarprincipal></app-navbarprincipal>
    
    <div class="content">
        <p class="texto">Preencha os campos do formulário abaixo.</p>

        <div class="formulario">
            <h1 class="titulo">Criar Partida</h1>
            <hr>
            <form [formGroup]="formPartida">
                <div class="row">
                    <div class="col">
                        <label for="">Nome da Partida</label>
                        <input type="text" formControlName="titulo">
                    </div>

                    <div class="col">
                        <label>Esporte</label>
                        <select formControlName="idEsporte">
                            <option value="" disabled selected>Selecione um esporte</option>
                            <option *ngFor="let esporte of esporte" [value]="esporte.idEsporte">{{esporte.nomeEsporte}}</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="">Quantidade de atletas</label>
                        <input type="text" formControlName="qtdeAtletas">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="">Data</label>
                        <input type="date" formControlName="data">
                    </div>
                    
                    <div class="col">
                        <label for="">Horário de Início</label>
                        <input type="text" formControlName="horaInicio">
                    </div>

                    <div class="col">
                        <label for="">Horário de Término</label>
                        <input type="text" formControlName="horaFim">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="">Nome do Local</label>
                        <input type="text" formControlName="nomeLocal">
                    </div>
                    
                    <div class="col">
                        <label for="">Endereço</label>
                        <input type="text" formControlName="endereco">
                    </div>
                    <div class="col">
                        <label for="">Descrição</label>
                        <textarea formControlName="descricao"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="regioes">Selecione uma Região Administrativa:</label>
                        <select id="regioes" name="regioes " formControlName="cidade">
                            <option value="" disabled selected>Escolha uma opção</option>
                            <option value="aguas-claras">Águas Claras</option>
                            <option value="agua-quente">Água Quente</option>
                            <option value="arniqueira">Arniqueira</option>
                            <option value="braslandia">Brazlândia</option>
                            <option value="brasilia">Brasília</option>
                            <option value="candangolandia">Candangolândia</option>
                            <option value="ceilandia">Ceilândia</option>
                            <option value="cruzeiro">Cruzeiro</option>
                            <option value="fercal">Fercal</option>
                            <option value="gama">Gama</option>
                            <option value="guara">Guará</option>
                            <option value="itapoa">Itapoã</option>
                            <option value="jardim-botanico">Jardim Botânico</option>
                            <option value="lago-norte">Lago Norte</option>
                            <option value="lago-sul">Lago Sul</option>
                            <option value="nucleo-bandeirante">Núcleo Bandeirante</option>
                            <option value="paranoa">Paranoá</option>
                            <option value="park-way">Park Way</option>
                            <option value="planaltina">Planaltina</option>
                            <option value="por-do-sol">Pôr do Sol</option>
                            <option value="recanto-das-emas">Recanto das Emas</option>
                            <option value="riacho-fundo">Riacho Fundo</option>
                            <option value="riacho-fundo-ii">Riacho Fundo II</option>
                            <option value="samambaia">Samambaia</option>
                            <option value="santa-maria">Santa Maria</option>
                            <option value="sao-sebastiao">São Sebastião</option>
                            <option value="scia-estrutural">SCIA (Estrutural)</option>
                            <option value="sia">SIA</option>
                            <option value="sobradinho">Sobradinho</option>
                            <option value="sobradinho-ii">Sobradinho II</option>
                            <option value="sol-nascente">Sol Nascente</option>
                            <option value="sudoeste-octogonal">Sudoeste/Octogonal</option>
                            <option value="taguatinga">Taguatinga</option>
                            <option value="varjao">Varjão</option>
                        </select>
                    </div>
                </div>

                <div class="botoes">
                    <a [routerLink]="['/Inicio']" class="botao">Cancelar</a>
                    <button type="submit" (click)="postar()" class="botao">Cadastrar</button>
                </div>
            </form>
        </div>
        <span id="camposObrigatorios">Campos Obrigatórios *</span>
    </div>
</div>
