<div class="container-sidebar">
    <app-sidebar></app-sidebar>

    <div class="content">
        <div class="mensagem">
            <div class="bem-vindo">
                <h1 class="titulo1">
                    Seja bem-vindo(a), Atleta!
                </h1>
            </div>
            <div class="pergunta">
                <h2 class="titulo2">O que você deseja realizar hoje?</h2>
            </div>
        </div>
        
        <div class="cards">
            <app-card 
                titulo="Criar Partidas do meu esporte favorito" 
                imagem="../../../assets/images/CriarPartida.png"
                url="Criarpartida">
            </app-card>
    
            <app-card 
                titulo="Buscar Partidas Proximas a Mim" 
                imagem="../../../assets/images/BuscarPartida.png"
                url="Buscarpartida">
            </app-card>
    
            <app-card titulo="Gerenciar minhas partidas" 
            imagem="../../../assets/images/GerenciarPartidas.png"
            url="MinhasPartidas">
        </app-card>
        </div>
    </div>
   
</div>



