.mensagem{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bem-vindo{
    margin: 10vh 0em 7vh;
}

.titulo1{
    font-size: 5em;
    color: var(--secundaria);
    font-weight: bold;
}

.pergunta{
    margin-bottom: 10vh;
}

.titulo2{
    font-size: 3rem;
    color: var(--secundaria);
    font-weight: bold;
}

.cards{
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 768px) {
    .bem-vindo{
        margin: 9vh 0em 5vh;
        width: 100%;
    }

    .titulo1{
        font-size: 7vw;
        text-align: center;
        color: var(--secundaria);
        font-weight: bold;
    }

    .pergunta{
        margin-bottom: 10vh;
    }

    .titulo2{
        font-size: 6vw;
        text-align: center;
        color: var(--secundaria);
        font-weight: bold;
    }

    .cards{
        flex-wrap: wrap;
        width: 100%;
    }
    
    
}

@media only screen and (max-width: 480px) {
    .mensagem{
        width: 100%;
    }
    
    .bem-vindo{
        margin: 9vh 0em 5vh;
        width: 100%;
    }
    
    .cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .pergunta{
        margin-bottom: 10vw;
    }

    .titulo1{
        font-size: 8vw;
        text-align: center;
        color: var(--secundaria);
        font-weight: bold;
    }

    .titulo2{
        font-size: 7vw;
        text-align: center;
        color: var(--secundaria);
        font-weight: bold;
    }
}
